services:
  frontend:
    build:
      context: ./frontend
      target: development
    environment:
      ENV: development
      VIRTUAL_HOST: localhost
      VIRTUAL_PROTO: http
      VIRTUAL_PATH: /
      VITE_API_URL: 'http://localhost'
    expose:
      - 5173
    tty: true
    extra_hosts: # For Linux
      - host.docker.internal:host-gateway
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/home/node/app

  backend:
    build:
      context: ./backend
      target: development
    environment:
      SERVER_PORT: 80
      SPRING_DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
      SPRING_DATASOURCE_PASSWORD: super
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_PROFILES_ACTIVE: local
    tty: true
    extra_hosts: # For Linux
      - host.docker.internal:host-gateway
    ports:
      - 80:80
    volumes:
      - ./backend:/usr/local/app
      - gradle-cache:/home/gradle/.gradle

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: super
    ports:
      - 5432:5432
    volumes:
      - ./database/setup.sql:/docker-entrypoint-initdb.d/setup.sql
      # Uncomment the following line to enable DB persistence
      # - postgres:/var/lib/postgresql/data

volumes:
  gradle-cache:
  # Uncomment the following line to enable DB persistence
  # postgres:
