services:
  frontend:
    build:
      context: ./frontend
      target: development
    environment:
      ENV: local
      VITE_API_URL: 'http://localhost/api'
    tty: true
    extra_hosts: # For Linux
      - host.docker.internal:host-gateway
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/home/node/app

  backend:
    build:
      context: ./backend
      target: development
    environment:
      ENV: local
      PORT: 80
    tty: true
    extra_hosts: # For Linux
      - host.docker.internal:host-gateway
    ports:
      - 80:80
    volumes:
      - ./api:/usr/local/api

  playwright:
    image: node:20.19
    environment:
      BASE_URL: 'http://localhost:80'
    user: node
    working_dir: /home/node/playwright
    tty: true
    command: "npm run test"
    extra_hosts: # For Linux
      - host.docker.internal:host-gateway
    volumes:
      - ./system-tests:/home/node/system-tests

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: super
    ports:
      - 5432:5432
    volumes:
      - ./database/setup.sql:/docker-entrypoint-initdb.d/setup.sql
      # Uncomment the following line to enable DB persistence
      # - postgres:/var/lib/postgresql/data

# Uncomment the following lines to enable DB persistence
# volumes:
  # postgres:
