spring:
  application:
    name: tax-docs-portal

management:
  endpoint:
    health:
      enabled: true
      show-details: always
    loggers:
      enabled: true
    metrics:
      enabled: true
    threaddump:
      enabled: true
    heapdump:
      enabled: true
    info:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "health,info,loggers,metrics,threaddump,heapdump"
  health:
    env:
      enabled: true
    show-details: always
  info:
    env:
      enabled: true
